$color-primary: #ad1457;
$color-primary-light: #fce4ec;
$color-primary-dark: #78002e;
$color-grey: #5c5b5b;
$color-red: #f44336;
$color-green: #00c853;
$color-orange: #ff9800;
$color-black: #212121;
$color-white: #ffffff;

$color-text-white: #ffffff;
$color-text-black: #212121;
$color-text-grey: #5c5b5b;
