<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <link rel="stylesheet" href="/build/vision-ui.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>UI Components</title>
  <script src="/build/vision-ui.js"></script>
</head>

<body>
  <vui-reset></vui-reset>
  <div class="wrapper">
    <section class="ui-buttons">
      <h2 class="title">Icons</h2>
      <div class="section-row">
        <div class="section-cell">
          <vui-icon name="yes-circle"></vui-icon>
        </div>

      </div>
    </section>
  </div>
